@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;

}

.container{
    display:flex;
    justify-content: center;
    margin-top:50vh;
}

.container > div>button {
   height:50px;
   font-size: 2em;
}

#hexcode{
    font-size: 3em;
}